body{
	font-family: Arial;
	background: #601615;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.registration-container{
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	max-width: 430px;
}
h2{
	text-align: center;
	margin-bottom: 10px;
}
form label{
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	margin-right: 20px;
}
form input{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 14px;
	margin-right: 20px; 
	box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}
form button{
	width: 100%;
	padding: 10px;
	background-color: #296015;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
form button:hover{
	background-color: #0b280d;
}


